*.cmd
.idea/
bower_components/
node_modules/
public/document
public/template
upload/*.*
_windows/
*.xml
logs
.DS_Store
coverage
review
.env-dev
debug.log
certrequest.csr
privatekey.pem
certificate.pem
pyconfig.json
*.log